<div class="container">
<h1 class="text-center">Welcome to Gross Burger,</h1>
<h3 class="text-center">Home of the Gross Burger.</h3>
</div>

<div class="burger-list">

<div class="not-devoured">
<h2>Can I take Your Order?</h2>

<ul>
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
      {{/unless}}
    {{/each}}
</ul>
</div>
<div class="devoured-burgers">
<h2>You ate these burgers. Gross.</h2>

<ul>
    {{#each burgers}}
      {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
      {{/if}}
    {{/each}}
</ul>
</div>
</div>


<div class="container">
  <h2>Add a Burger:</h2>
  <h4>Enter the Gross Burger you dream of.</h4>
  <form class="create-form">
    
    <p>Burger Name:</p>
    <div class="form-group">
      <textarea type="text" id="burger" rows="4" name="name" placeholder="Bacon Cheeseburger"></textarea>
    </div>
    <button type="submit" class="form-button">Add a Burger</button>
  
</div>