<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Welcome to Gross Burger,</h1>
      <h3>Home of the Gross Burger.</h3>

    </div>
    <div class="col-6">
      <h2>Can I Take Your Order?:</h2>
      <h4>We Make It Our Way</h4>
    <form class="create-form">
    
      <p>Burger Name:</p>
    <div class="form-group">
      <textarea type="text" id="burger" rows="2" name="burger_name" placeholder="Bacon Cheeseburger"></textarea>
    </div>
      <button type="submit" class="form-button">Add a Burger</button>
    </div>

  </div>

</div>



<div class="burger-list">

<div class="not-devoured">
<h2>You Have These Burgers.</h2>

<ul>
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
      {{/unless}}
    {{/each}}
</ul>
</div>
<div class="devoured-burgers">
<h2>Here Are Your Gross Leftovers.</h2>

<ul>
    {{#each burgers}}
      {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
      {{/if}}
    {{/each}}
</ul>
</div>
</div>


